*{
  margin:0 auto;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
}

/* header  */
.wrap{
  width: 100%;
}
.top{
  width: 100%;
  height: 75px;
  background-color: black;
  margin-top:0;
}

.sign_up{
  display: block;
  width: 1280px;
  background-color: black;

  font-size: 14px;
  text-align: right;
  color: white;
}
.header{
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}
.logo{
  display: flex;
  margin-right: 145px;
  

  color: white;
}
.logo a{
  text-decoration: none;
  color: white;
}
.logo h1{
  font-weight: 700;
}
.nav{
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  
}
.nav a{
  text-decoration: none;
  color: white;
}
.nav li{
  color: white;
  list-style: none;
  font-size: 18px;

}
.nav a:hover{
  color: #D9D9D9;
}
.main_img img{
  display: block;
  width: 100%;
  height: 523px;
  
  object-fit: cover;
  }
.info-title{
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-top: 88px;
}
.info-title h3{
  margin-bottom: 8px;
  font-size: 18px;
}
.info-title h2{
  margin-bottom: 32px;
  font-size: 40px;
}
.circles{
  display: flex;
  width: 239px;

}
.circle{
  background-color: #D9D9D9;
  width: 47px;
  height: 47px;
  border-radius: 23.5px;
  }
.circle img{
  display: block;
  position: center;
  line-height: 47px;
  vertical-align: middle;
  margin-top: 4px;
  
}
.border{
  margin-top: 48px;
  border-bottom: solid 1px #D9D9D9;
}

.poster{
  margin-top: 80px;
  width: 1280px;
  display:flex;
  margin-bottom: 104px;
}
.poster h2{
  margin-bottom: 40px;
}
.poster-img{
  padding-right: 127px;
  border-right: solid 1px #D9D9D9;
}
.poster-img img{
  display: block;
  width: 498px;
}

.info_factor{
  display: flex;
  margin-bottom: 32px;
}
.info_factor h3{
  margin: 0;
  width: 82px;
}
.info_factor p{
  margin-left: 30px;
}
.details{
  color: white;
  background-color:#282828;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.more h3{
  display: block;
  padding-top: 94px;
  background-color: #282828;
  text-align: center;
  margin-bottom: 80px;
  font-size: 32px;
}
.more h4{
  margin-bottom: 30px;
  font-size: 28px;
}
.more p{
  font-size: 22px;
}
.detail_img{
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 80px;
}
.detail_img img{
  border-radius: 30px;
  margin: 0;
  margin-top: 80px;
}
.wrap2{
 width: 100%;
 background-color: #282828;
 margin:0;
}
.img1 img{
  width: 442spx;
  margin: 0;
  margin-right: 88px;
  margin-bottom: 112px;
}
.img2 img{
  width: 750px;
  height: 696px;
  margin: 0;
}
.detail_img2{
  display: flex;
  margin: 0;
}
.img3 img{
  width: 376px;
  height: 340px;
}
.img4 img{
  width: 492px;
  height: 340;
}
.img5 img{
  width: 350px;
  height: 340px;
}
.more2 h2{
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
.more2 h3{
  font-size: 40px;
  text-align: center;
  margin-bottom: 64px;
}
.detail_img2 img{
  border-radius: 30px;
}
.detail_img2 {
  padding-bottom: 160px;
}
footer{
  height: 160px;
  width: 100%;
  background-color: black;
}
.wrap4{
  width: 1280px;
 padding-top: 32px;
 display: flex;
}
.factors{

  width: 100%;
  display: flex;
  justify-content: space-between;
}
.factor1{
  margin-right: 225px;
}
.factor1 h3{
  color: white;
  font-size: 18px;
  margin-bottom: 4px;
}
.factor1 p{
  color: white;
}
.factor2 a{
  text-decoration: none;
  color: white;
}

.factor3 a{
  color: white;
  text-decoration: underline;
}
.factor4 a{
  color: white;
  text-decoration: none;
}
h4{
  color: white;
  margin-bottom: 4px;
}